/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /**
  * Custom admin columns widths
  */
.post-type-nevobo-team #meta-nevobo-team-type,
.post-type-nevobo-team #meta-nevobo-team-serial-number,
.post-type-nevobo-team #meta-nevobo-team-pool {
    width: 15%;
}
.post-type-nevobo-team #taxonomy-nevobo-team-category {
    width: 25%;
}
.post-type-nevobo-team #nevobo-team-link {
    width: 2.2em;
}

/**
 * Hide the edit date fields in quick edit admin column
 */
.post-type-nevobo-team .inline-edit-col .inline-edit-date,
.post-type-nevobo-team .inline-edit-col br {
    display: none;
}

